@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-form: #000235;
    --color-text: #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    
    /* Задний фон */
    background: url('nightForest1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

/************ Верхний колонтитул *************/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    backdrop-filter: blur(20px);
    background: rgba(22, 41, 56, 0.2);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.mainNavigation {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

/* Логотип */

.logo {
    font-size: 2rem;
    color: var(--color-text);
    user-select: none;
}

/* Меню */

.icon-menu {
    display: none;
}

/* Навигация */

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation a {
    position: relative;
    font-size: 1.1rem;
    color: var(--color-text);
    text-decoration: none;
    font-weight: 500;
    margin-left: 2rem;
}

/* Реакция в навигации */

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -.3rem;
    width: 100%;
    height: .2rem;
    background: var(--color-text);
    border-radius: .4rem;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

/* Кнопка в навигации */

header .btnLogin-popup {
    width: 8rem;
    height: 3rem;
    background: transparent;
    border: .1rem solid var(--color-text);
    outline: none;
    border-radius: .4rem;
    cursor: pointer;
    font-size: 1.1rem;
    color: var(--color-text);
    font-weight: 700;
    margin-left: 2.5rem;
    transition: 0.5s;
}

header .btnLogin-popup:hover {
    background: rgba(285, 285, 285, .5);
    color: var(--color-form);
}

/********** Стиль окна логина/регистации **********/

.wrapper {
    position: relative;
    margin: 7rem 1rem;
    max-width: 23rem;
    height: 25rem;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 1.5rem;
    backdrop-filter: blur(10px); /* размытие */
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0); /* скрытие окна логина/регистрации */
    transition: transform 0.5s ease, height 0.2s ease; /* плавный переход окна на более широкий для регистрации */
}

/*Активация окна логина/регистрации при нажатии кнопки Логин в навигации через JavaScript */

.wrapper.active-popup {
    transform: scale(1);
}

/* Для расширения окна логина под регистрацию через JavaScript */

.wrapper.active {
    height: 27rem;
}

/* Общие расположение внутри окна */

.wrapper .form-box {
    width: 100%;
    padding: 2.5rem;
}

/* Скрытие окна Логин */

.wrapper .form-box.login {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

/* Сдвиг Логина влево при клике на ссылку регистрация */

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-25rem);
}

/* Смещение регистрации от окна логина вправо */

.wrapper .form-box.register {
    position: absolute;
    transform: none;
    transform: translateX(25em);
}

/* Смещение регистрации в окно логина */

.wrapper.active .form-box.register {
    transition: transform 0.18s ease;
    transform: translateX(0);
}



/* Стиль иконки "Закрыть" */

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    background: var(--color-form);
    font-size: 2rem;
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 1.5rem;
    cursor: pointer;
    z-index: 1;
}

/* Стиль надписи "Логин" */

.form-box h2 {
    font-size: 2rem;
    color: var(--color-form);
    text-align: center;
}

/* Стиль области почты и пароля */

.input-box {
    position: relative;
    width: 100%;
    height: 2.5rem;
    border-bottom: .1em solid var(--color-form);
    margin: 1rem 0;
}

/* Стиль надписи почты и пароля и его расположение */

.input-box label {
    position: absolute;
    top: 50%;
    left: .3rem;
    transform: translateY(-50%);
    font-size: 1rem;
    color: var(--color-form);
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

/* Смещение текста в текстовом поле для ввода данных */

.input-box input:focus~label,
.input-box input:valid~label {
    top: -1px;
}

/* Стиль текстового поля почты и пароля */

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--color-form);
    font-weight: 600;
}

/* Стиль иконок и их расположение */

.input-box .icon {
    position: absolute;
    right: .5rem;
    font-size: 1.2rem;
    color: var(--color-form);
    line-height: 3rem;
}

/* Стиль и расположение текста с запомнить и забыли пароль */

.remember-forgot {
    font-size: 0.9rem;
    color: var(--color-form);
    font-weight: 500;
    margin: 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
}

/* Стиль флажка */

.remember-forgot label input {
    accent-color: var(--color-form);
    margin-right: 0.3rem;
}

/* Стиль текста ссылки "забыли пароль?" */

.remember-forgot a {
    color: var(--color-form);
    text-decoration: none;
}

/* Появление подчеркивания под ссылкой */

.remember-forgot a:hover {
    text-decoration: underline;
}

/* Стиль кнопки "Войти" и "Создать аккаунт" */

.btn {
    width: 100%;
    height: 3em;
    background: var(--color-form);
    border: none;
    outline: none;
    border-radius: .3rem;
    cursor: pointer;
    font-size: 1rem;
    color: var(--color-text);
    font-weight: 500;
}

/* Стиль текста о регистрации */

.login-register {
    font-size: 0.9em;
    color: var(--color-form);
    text-align: center;
    font-weight: 500;
    margin: 1.5em 0 0;
}

/* Стиль ссылки о регистрации */

.login-register p a {
    color: var(--color-form);
    text-decoration: none;
    font-weight: 600;
}

/* Появление подчеркивания под ссылкой */

.login-register p a:hover {
    text-decoration: underline;
}

@media(max-width: 820px) {
    .mainNavigation {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation {
        flex-direction: column;
        padding: 1rem 0 2rem 0;
        position: absolute;
        top: -15rem;
        left: 0;
        width: 100%;
        transition: 0.8s;
        background: rgba(66, 129, 162, 0.5);;
        backdrop-filter: blur(20px);
    }

    .navigation a {
        display: block;
        padding-top: 1rem;
    }

    .navigation.slide {
        top: 100%;
    }

    .icon-menu {
        position: relative;
        font-size: 2rem;
        color: var(--color-text);
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        opacity: 1;
        cursor: pointer;
        margin-left: 1rem;
    }
    
    header .btnLogin-popup {
        margin-left: 0.5em;
    }
}

@media(max-width: 415px) {
    .header {
        padding: .75rem 1.5rem;
    }
}
